[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
kiwisolver = "==1.1.*"
matplotlib = "==3.1.*"
numpy = "==1.17.*"
opencv-contrib-python = "==4.1.1.*"
pyobjc-core = "==5.*"
pyparsing = "==2.4.*"
pyscreenshot = "==0.5.*"
python-dateutil = "==2.8.*"
six = "==1.12.*"
Cycler = "==0.10.*"
EasyProcess = "==0.2.*"
Pillow = "==6.1.*"
pyobjc-framework-Cocoa = "==5.*"
pyobjc-framework-Quartz = "==5.*"
autopy = "*"
keyboard = "*"
mss = "*"

[requires]
python_version = "3.6"
